include README.rst
include CHANGES.rst
recursive-include django_backend *.html
recursive-include django_backend/static *
recursive-include tests *.py *.html
recursive-include requirements *.txt
recursive-include tests *.py *.html
recursive-include django_backend/locale *.po *.mo
#recursive-include docs *.rst *.png
#include docs/Makefile docs/make.bat docs/conf.py
#prune docs/_build
