.action-form {
  opacity: 0.8;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 8px 0;

  label {
    display: none;
  }
  .form-control {
    width: auto;
  }

}

table {
  th, td {
    &.action-checkbox {
      width: 25px;
    }
  }
}
