.content-area {
    .headline h1 {
        font-size: 2em;
        font-weight: bold;

        margin: 0 0 0.7em 0;
        padding: 0 0 0 0;
    }
}

.sort,
.reverse-sort {
    color: #ccc;
    &:hover {
      color: #9E9E9E;
    }
  &.active {
    color: #666;
  }
}


/* * MESSAGEs * * * * * * * * * * * * * * * * * * * * * */

ul.messages li {
  list-style: none;
  border: 1px solid #888;
  margin: 15px 0;
  padding: 5px 10px 5px 10px;
  color: #888;
  background-color: #eee;
}
ul.messages li.info {
  color: #1F61A1;
  background-color: #E0F0FF;
  border-color: #1F61A1;
}
ul.messages li.success {
  color: #2ea11e;
  background-color: #DFF2BF;
  border-color: #2ea11e;
}
ul.messages li.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  border-color: #9F6000;
}
ul.messages li.error {
  color: #D8000C;
  background-color: #FFDCDC;
  border-color: #D8000C;
}


/* * NOTIFICATIONs * * * * * * * * * * * * * * * * * * * * * */

.has-errors input {
  border-color:  #D8000C !important;
}

.has-errors label {
  color:  #D8000C !important;
}

.errorlist {
  color:  #D8000C !important;
}

.errors,
.error {
  color: #D8000C;
  font-weight: bold;
}

form .errorlist {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
  background-color: #FFEFEF;
  padding: 5px 5px 5px 25px;
}

