//This package has no responsive variables.
//If you add responsive variables,
//you have to add them in the package.


.paginator {
  margin-top: 15px;
  padding-top: 7px;
  font-size: 1em;

  .info {
    float: left;
    padding-top: 4px;
  }

  ul.pages {
    text-align: center;
    @include clearfix();
    margin: 0px;
    padding: 0px;
    float: right;

    li {
      float: left;
      display: inline-block;
      list-style: none;
      background-image: none;
      padding: 0;
      margin: 0 0 0 5px;
    }

    a,
    .page.current span,
    .page-ellipsis span {
      text-decoration: none;
      display: block;
      padding: 4px 9px 3px;
      color: #939393;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 4px;
    }

    .page-ellipsis span {
      padding: 3px 4px;
    }

    a:hover,
    .page.current span {
      background-color: #ebebeb;
      color: #333;
      border-color: #adadad;
    }

    .previous-page a,
    .next-page a {
      outline: 0;
      padding: 4px 8px 3px;
    }
  }

}


