$icon-font-path:"/static/django_backend/libs/bootstrap-sass/assets/fonts/bootstrap/";

$body-background-color: #FFFFFF;
$shaded-body-background-color: #E5E5E5;

@import 'bootstrap';
@import 'forms';
@import 'formtabs';
@import 'generic_relation_list_field';
@import 'selectrelated';
@import 'inlinerelated';
@import 'login';
@import 'managerelated';
@import 'modals';
@import 'navbar';
@import 'sidebar';
@import 'contentarea';
@import 'tables';
@import 'paginator';
@import 'jqueryui';
@import 'actions';
@import 'messages';
@import 'footer';
@import 'log';


body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $body-background-color;
}

.media-preview {
    margin: 5px;
    padding: 5px;
}

/*
 * Dummy-element that will be injected into the parent window after a inline
 * has been selected.
 */
#rendered-inline {
    display: none;
}

.clear {
  clear: both;
}


img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

