{% load i18n django_backend_tags %}

{% with inline_backend=parent_backend|default:inline_backend|find_inline_backend_by_model:inline_backend.model|default:inline_backend %}
{% if not parent_exists %}
    <span class="helptext">{% trans "You need to save the current page before you can change this field." %}</span>
{% else %}
    <span class="manage-related-field" data-manage-related="{% backend_url inline_backend.urlnames.views.index.name %}?{{ related_field_name }}={{ parent_pk }}">
    </span>
{% endif %}
{% endwith %}
